*.py[cod]


# C extensions
*.so


# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64


# Installer logs
pip-log.txt


# Unit test / coverage reports
.coverage
.tox
nosetests.xml


# Translations
*.mo


# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Azure CLI
azure_error

# Word 
~$*

# OS X hidden files
.DS_Store

# The Pixelmator files John keeps around in case he needs to update a screen shot.
*.pxm
