<configuration>
    <appSettings>
        <add key="pythonpath" value="D:\home\site\wwwroot\ConfigurePython" />
        <add key="WSGI_HANDLER" value="ConfigurePython.application" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="PythonHandler" 
            verb="*" path="handler.fcgi" 
            modules="FastCgiModule" 
            scriptProcessor="D:\Python27\Python.exe|D:\Python27\Scripts\wfastcgi.py" 
            resourceType="Either" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Configure Python" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
