<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
 
    <appSettings>
      <add key="MsrStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=bcm002;AccountKey=so+TGPapUJqro3QxZYWwgMIpsQ5dWlha/2njFvLC03p/XBV0K3q3yAMfx1QR8A6UfphgYt71nSNQ/hwHpYlLBg==" />
    </appSettings>
</configuration>