<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Marker.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Marker.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
      <Marker.UI.Properties.Settings>
        <setting name="AssociateExtension" serializeAs="String">
          <value>True</value>
        </setting>
      </Marker.UI.Properties.Settings>
    </userSettings>
    <applicationSettings>
      <Marker.UI.Properties.Settings>
        <setting name="GithubIssuesUrl" serializeAs="String">
          <value>https://github.com/microsoft-dpe/content-tools/issues</value>
        </setting>
        <setting name="MaxImageWidth" serializeAs="String">
          <value>750</value>
        </setting>
        <setting name="EnableCheckTextTemplating" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExportExcludeExtensions" serializeAs="String">
          <value>.md,.gitignore,Lab.xml,Tutorial.xml</value>
        </setting>
      </Marker.UI.Properties.Settings>
    </applicationSettings>
</configuration>
