<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <style type="text/css">
            html { height: 100% }
            body { height: 100%; margin: 0; padding: 0 }
            #map-canvas { height: 100% }
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ4k7vYAW0gJQGmw_esfsjYLcrRalnTUI&sensor=false">
        </script>
       
    </head>
    <body>
    <div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Projecting embedded device locations and temperature</h1>
        <ul>
            <li><a href="/Home/SimpleQueue">Receiving messages with a Storage Queue</a></li>
            <li><a href="/Home/ServiceBusQueue">Receiving messages from a Service Bus queue</a></li>
            <li><a href="/Home/TopicBlue">Pub-Sub with the Service Bus on topic blue</a></li>
            <li><a href="/Home/TopicRed">Pub-Sub with the Service Bus on topic red</a></li>
        </ul>
    </div>

</div> <!-- /container -->

  </body>
</html>


